<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.fp.smartDoctor.sign.model.vo.Sign" alias="Sign"/>
		<typeAlias type="com.fp.smartDoctor.sign.model.vo.Form" alias="Form"/>
		<typeAlias type="com.fp.smartDoctor.sign.model.vo.Line" alias="Line"/>
		<typeAlias type="com.fp.smartDoctor.sign.model.vo.Overtime" alias="Overtime"/>
		
		<typeAlias type="com.fp.smartDoctor.messenger.model.vo.Email" alias="Email"/>
		<typeAlias type="com.fp.smartDoctor.messenger.model.vo.MailAttachment" alias="MailAttachment"/>
		<typeAlias type="com.fp.smartDoctor.messenger.model.vo.MailCount" alias="MailCount"/>
		<typeAlias type="com.fp.smartDoctor.messenger.model.vo.SearchCondition" alias="SearchCondition"/>
		
		<typeAlias type="com.fp.smartDoctor.attendance.model.vo.Attendance" alias="Attendance"/>
		<typeAlias type="com.fp.smartDoctor.attendance.model.vo.Vacation" alias="Vacation"/>
		
		<typeAlias type="com.fp.smartDoctor.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.fp.smartDoctor.member.model.vo.Dept" alias="Dept"/>

		<typeAlias type="com.fp.smartDoctor.timeTable.model.vo.TimeTable" alias="TimeTable"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.RevOProom" alias="RevOProom"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.Calendar" alias="Calendar"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.Clinic" alias="Clinic"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.Patient" alias="Patient"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.Surgery" alias="Surgery"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.ListSurgeryBooking" alias="ListSurgeryBooking"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.Disease" alias="Disease"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.Medicine" alias="Medicine"/>
		<typeAlias type="com.fp.smartDoctor.treatment.model.vo.RevPatientRoom" alias="RevPatientRoom"/>
		
		<typeAlias type="com.fp.smartDoctor.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.fp.smartDoctor.reception.model.vo.Prescription" alias="Prescription"/>
		<typeAlias type="com.fp.smartDoctor.reception.model.vo.Receipt" alias="Receipt"/>
		
	
		
		
	</typeAliases>
	<!-- 유의사항 : 미리 등록해 두려면 해당 클래스가 진짜 존재해야함, 미리 클래스가 존재하지 않으면 서버 스타트 자체가 안됨 -->
	
	<!-- 
		spring 쓰기 전 : 이곳에 environment 태그로 dataSource(연결할 db정보) 등록
		spring 사용 후 : root-context.xml
	 -->
	 
	 <mappers>

	 	<!-- 유의사항 : 미리 등록해 두려면 해당 mapper파일이 진짜 존재해야함(이 매퍼도 미리 만들어 둬야만 등록이 가능하다)
	 					또한 namespace가 지정되어있어야함 -->
	 	<mapper resource="/mappers/sign-mapper.xml"/>
	 	<mapper resource="/mappers/messenger-mapper.xml"/>
	 	<mapper resource="/mappers/attendance-mapper.xml"/>
	 	<mapper resource="/mappers/member-mapper.xml"/>
	 	<mapper resource="/mappers/timeTable-mapper.xml"/>
	 	<mapper resource="/mappers/treatment-mapper.xml"/>
	 	<mapper resource="/mappers/notice-mapper.xml"/>
	 	<mapper resource="/mappers/reception-mapper.xml"/>
	 </mappers>
</configuration>