<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="messengerMapper">

	<resultMap id="emailResultSet" type="Email">
		<id column="mail_no" property="mailNo"/>
		<result column="import_Flag" property="mailImportFlag"/>
		<result column="mail_from" property="mailFrom"/>
		<result column="mail_name_from" property="mailnameFrom"/>
		<result column="mail_to" property="mailTo"/>
		<result column="mail_name_to" property="mailnameTo"/>
		<result column="mail_title" property="mailTitle"/>
		<result column="mail_with" property="mailWith"/>
		<result column="mail_name_with" property="mailnameWith"/>
		<result column="mail_content" property="mailContent"/>
		<result column="mail_attachment" property="mailAttachment"/>
		<result column="mail_date" property="mailDate"/>
		<result column="mail_read_flag" property="mailReadFlag"/>
		<result column="mail_status" property="mailStatus"/>
		
	</resultMap>
	
	<resultMap id="attachResultSet" type="MailAttachment">
		<id column="file_no" property="fileNo"/>
		<result column="mail_no" property="mailNo"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="file_path" property="filePath"/>
		<result column="upload_date" property="uploadDate"/>
		<result column="status" property="status"/>
		<result column="file_size" property="mailFileSize"/>
	</resultMap>
	
	<resultMap id="memberResult" type="Member">
		<result column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="emp_pwd" property="empPwd" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="profile_originname" property="originName" />
		<result column="profile_path" property="path" />
		<result column="status" property="status" />
		<result column="vac_all" property="vacAll" />
		<result column="job_no" property="jobNo" />
		<result column="dept_no" property="deptNo" />
		<result column="job_name" property="jobName" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<!-- 채팅 
	<resultMap id="chatMemResult" type="ChatMem">
		<result column="mymem_no" property="myMemNo"/>	
		<result column="comem_no" property="coMemNo"/>	
		<result column="del_status" property="delStatus"/>	
		<result column="my_img_path" property="myImgPath"/>	
		<result column="co_img_path" property="coImgPath"/>	
		<result column="my_name_and_rank" property="myNameAndRank"/>	
		<result column="co_name_and_rank" property="coNameAndRank"/>	
		<result column="room_no" property="roomNo"/>	
	</resultMap>
	
	<resultMap id="chatroomResult" type="ChatRoom">
		<result column="room_no" property="roomNo"/>	
		<result column="room_name" property="roomName"/>	
		<result column="create_date" property="createDate"/>	
		<result column="update_date" property="updateDate"/>	
		<result column="group_status" property="groupStatus"/>	
		<result column="chat_content" property="lastChatContent"/>	
		<result column="chat_date" property="lastChatDate"/>	
		<result column="unread_count" property="unreadChatCount"/>	
		<collection property="memList" ofType="com.fp.smartDoctor.member.model.vo.Member">
			<result column="emp_no" property="memNo"/>	
			<result column="path" property="path"/>	
		</collection>
	</resultMap>
	
	<resultMap id="chatdayFormatResult" type="ChatDayFormat">
		<result column="daily_basic" property="dailyBasic"/>	
		<result column="formatted_date" property="formattedDate"/>	
		
		<collection property="chatList" ofType="com.fp.smartDoctor.messenger.model.vo.ChatLog">
			<result column="chatlog_no" property="chatlogNo"/>	
			<result column="mem_no" property="memNo"/>	
			<result column="name_and_rank" property="nameAndRank"/>	
			<result column="room_no" property="roomNo"/>	
			<result column="chat_content" property="chatContent"/>	
			<result column="chat_time" property="chatDate"/>	
			<result column="path" property="path"/>				
		</collection>
	</resultMap>
	-->
	
	
	
	
	
	
	
	<!-- 받은 메일 -->
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from mail
		 where mail_status='Y' 
		   and mail_to = #{mailTo} 
	</select>
	
	<select id="selectList" resultMap="emailResultSet">
		select 
			   mail_no
		  	 , import_flag
		  	 , mail_from
		  	 , mail_to
		  	 , mail_title
		  	 , mail_content
		  	 , mail_attachment
		  	 , mail_date
		  	 , mail_read_flag
		  	 , mail_status
		  	 , mail_name_from
		  	 , mail_name_to
		  	 , mail_with
		  	 , mail_name_with 
		  from mail
		 where mail_status='Y' 
		   and mail_to = #{mailTo}
		 order by mail_no desc
	</select>
	
	
	
	<!-- 보낸 메일 -->
	<select id="fselectListCount" resultType="_int">
		select count(*)
		  from mail
		 where mail_status='Y' 
		   and mail_from = #{mailFrom}
	</select>
	
	<select id="fselectList" resultMap="emailResultSet">
		select 
			   mail_no
		  	 , import_flag
		  	 , mail_from
		  	 , mail_to
		  	 , mail_title
		  	 , mail_content
		  	 , mail_attachment
		  	 , mail_date
		  	 , mail_read_flag
		  	 , mail_status
		  	 , mail_name_from
		  	 , mail_name_to
		  	 , mail_with
		  	 , mail_name_with 
		  from mail
		 where mail_status='Y' 
		   and mail_from = #{mailFrom}
		 order by mail_no desc
	</select>

	<!-- 중요 메일 -->
	<select id="iselectListCount" resultType="_int">
		select count(*)
		  from (select 
				       mail_no
				  	 , import_flag
				  	 , mail_from
				  	 , mail_to
				  	 , mail_title
				  	 , mail_content
				  	 , mail_attachment
				  	 , mail_date
				  	 , mail_read_flag
				  	 , mail_status
				  	 , mail_name_from
				  	 , mail_name_to
				  	 , mail_with
				  	 , mail_name_with 
			      from mail
			     where mail_from = #{mailOwn} 
			        or mail_to = #{mailOwn})
		 where mail_status='Y' 
		   and import_Flag='Y'
	</select>
	
	<select id="iselectList" resultMap="emailResultSet">
		select *
		from (select  
				       mail_no
				  	 , import_flag
				  	 , mail_from
				  	 , mail_to
				  	 , mail_title
				  	 , mail_content
				  	 , mail_attachment
				  	 , mail_date
				  	 , mail_read_flag
				  	 , mail_status
				  	 , mail_name_from
				  	 , mail_name_to
				  	 , mail_with
				  	 , mail_name_with  
			    from mail
			   where mail_from = #{mailOwn} 
			      or mail_to = #{mailOwn})
		where mail_status='Y' 
		  and import_Flag='Y'
		order by mail_date desc
	</select>
	
	<!-- 휴지통 -->
	<select id="dselectListCount" resultType="_int">
		select count(*)
		  from mail
		 where mail_status='N' 
		   and mail_to = #{mailTo} 
	</select>
	
	<select id="dselectList" resultMap="emailResultSet">
		select 
			   mail_no
		  	 , import_flag
		  	 , mail_from
		  	 , mail_to
		  	 , mail_title
		  	 , mail_content
		  	 , mail_attachment
		  	 , mail_date
		  	 , mail_read_flag
		  	 , mail_status
		  	 , mail_name_from
		  	 , mail_name_to
		  	 , mail_with
		  	 , mail_name_with 
		  from mail
		 where mail_status='N' 
		   and mail_to = #{mailTo}
		 order by mail_no desc
	</select>
	
	<select id="searchListCount" resultType="_int">
		select count(*)
		  from mail
		 where mail_status='Y'
		    <if test="mailTo != null">
		    	and mail_To = #{mailTo}
		    </if>
		    <if test="mailFrom != null">
		    	and mail_from = #{mailFrom}
		    </if>
		    <if test="mailnameFrom != null">
				AND mail_name_from LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				AND mail_name_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				AND mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				AND mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
			
	</select>
	
	<select id="searchList" resultMap="emailResultSet">
		select * 
		  from mail
		 where mail_status='Y'
		 	<if test="mailTo != null">
		    	and mail_To = #{mailTo}
		    </if>
		    <if test="mailFrom != null">
		    	and mail_from = #{mailFrom}
		    </if>
		 	<if test="mailnameFrom != null">
				AND mail_name_From LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				AND mail_name_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				AND mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				AND mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
		 order by mail_no desc
	</select>
	
	<select id="isearchListCount" resultType="_int">
		select count(*)
		from (select * 
			  from mail
			  where mail_from = #{mailOwn} mail_to = #{mailOwn})
		where mail_status='Y' and import_Flag='Y'
		    <if test="mailnameFrom != null">
				and mail_name_from LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				and mail_name_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				and mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				and mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
			
	</select>
	
	<select id="isearchList"  resultMap="emailResultSet">
		select *
		from (select * 
			  from mail
			  where mail_from = #{mailOwn} mail_to = #{mailOwn})
		where mail_status='Y' and import_Flag='Y'
		 	<if test="mailnameFrom != null">
				and mail_name_From LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				and mail_name_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				and mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				and mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
		 order by mail_no desc
	</select>
	
	
	<update id="readFlagUpdate" parameterType="_int">
		update mail set
		mail_read_flag = 'Y'
		where mail_no = #{mailNo}
	</update>
	
	<select id="selectMail" parameterType="_int" resultMap="emailResultSet">
		select * from mail
		where mail_no = #{mailNo}
	</select>
	
	<select id="fileList" parameterType="_int" resultMap="attachResultSet">
		select * 
		  from mail_attachment
		 where mail_no=#{mailNo}
		 order by file_no desc
	</select>


	<!-- 메일작성 -->
	<insert id="insertMail">
		insert 
		  into mail
		  (
		  	   mail_no
		  	 , import_flag
		  	 , mail_from
		  	 , mail_to
		  	 , mail_title
		  	 , mail_content
		  	 , mail_attachment
		  	 , mail_date
		  	 , mail_read_flag
		  	 , mail_status
		  	 , mail_name_from
		  	 , mail_name_to
		  	 , mail_with
		  	 , mail_name_with
		  )
		values
		( 
		       seq_emno.nextval
		     , default
		     , #{mailFrom}
		     , #{mailTo}
		     , #{mailTitle}
		     , #{mailContent}
		     , 'Y'
		     , sysdate
		     , default
		     , default
		     , #{mailnameFrom}
		     , #{mailnameTo}
		     , #{mailWith}
		     , #{mailnameWith}
		)
		
	</insert>
	
	<insert id="insertMailAttachment">
		insert 
		  into mail_attachment
		  (    file_no
		     , mail_no
		     , origin_name
		     , change_name
		     , file_path
		     , upload_date
		     , mail_file_size
		     , status
		  ) 
		values
		(      seq_emfno.nextval
		     , 
			   <choose> 
			   	  <when test='mailNo != ""'> 
				  #{mailNo}
				  </when> 
				  <otherwise> 
				  seq_emno.currval
				  </otherwise> 
			   </choose>
		     , #{originName}
		     , #{changeName}
		     , #{filePath}
		     , sysdate
		     , #{mailFileSize}
		     , 'Y'
		) 
		
	</insert>
	
	<update id="updateMailFlag">
		update mail 
		   set mail_attachment = 'N'
		 where mail_no = #{currNo}
	</update>
	
	<select id="nowMailNo" resultMap="emailResultSet">
		select mail_no 
		  from (select * 
		          from mail
		         order by mail_no desc) e
		 where rownum = 1
	</select>

	<select id="loadMailnameTo" resultType="String">
		select emp_name 
		  from member
		 where emp_no = #{toname}
	</select>

	<update id="deleteMail">
		update mail 
		   set
		       mail_status = 'N'
		 where mail_no = #{mailNo}
	</update>
	
	<delete id="foreverdeleteMail">
		delete
		  from mail
		 where mail_no = #{mailNo} 
	</delete>

	<update id="importFlagUpdate">
		update mail 
		   set
		       import_Flag = 'Y'
		 where mail_no = #{mailNo}
	</update>
	
	<update id="unImportFlagUpdate">
		update mail 
		   set
		       import_Flag = 'N'
		 where mail_no = #{mailNo}
	</update>
	
	<select id="notReadMail" resultType="_int">
		select count(*)
		  from mail
		 where mail_To = #{mailOwn} 
		   and mail_Read_Flag = 'N' 
		   and mail_status='Y'
	</select>
	
	<select id="fromMail" parameterType="String" resultType="_int">
		select count(*)
		  from mail
		 where mail_To = #{mailOwn} 
		   and mail_status='Y'
	</select>
	
	<select id="importMail" parameterType="String" resultType="_int">
		select count(*)
		  from mail
		 where mail_To = #{mailOwn} 
		   and import_Flag = 'Y' 
		   and mail_status='Y'
	</select>
	
	<select id="miniFromMailList" parameterType="String" resultMap="emailResultSet">
		select * 
		  from mail
		 where mail_status='Y' 
		   and mail_to = #{mailOwn}
		 order by mail_no desc
	</select>
	
	<select id="miniToMailList" parameterType="String" resultMap="emailResultSet">
		select * 
		  from mail
		 where mail_status='Y' 
		   and mail_From = #{mailOwn}
		 order by mail_no desc
	</select>
	
	<select id="miniImportMailList" parameterType="String" resultMap="emailResultSet">
		select *
		from (select * 
			    from mail
			   where mail_from = #{mailOwn} 
			      or mail_to = #{mailOwn})
		where mail_status='Y' 
		  and import_Flag='Y'
		order by mail_date desc
	</select>
	
	
	
	
	
	
	<!-- 조직도 부서별 사원 조회 -->
	<select id="selectDeptEmpList" resultMap="memberResult">
		select 
		       emp_name
		     , emp_no
		     , m.job_no
		     , m.dept_no
		     , d.dept_name
		     , d.upper_no
		     , j.job_name
		  from Member m	
		  join job j on (m.job_no=j.job_no)
		  join department d on (m.dept_no=d.dept_no)
		 where m.dept_no is not null
	 	<choose>
	 		<when test="keyword.equals('D1')">
	 			and m.dept_no in (1,5,6,7,8)
	 		</when>
	 		<when test="keyword.equals('D2')">
	 			and m.dept_no in (2,9,10)
	 		</when>
	 		<when test="keyword.equals('D3')">
	 			and m.dept_no='3'
	 		</when>
	 		<when test="keyword.equals('D4')">
	 			and m.dept_no='4'
	 		</when>
	 	</choose>
	 	order by emp_name
	</select>
	
	
	<!-- 조직도 키워드 검색 -->
	<select id="selectEmpListSearch" resultMap="memberResult">
		select 
			   emp_name
		     , emp_no
		     , m.job_no
		     , m.dept_no
		     , d.dept_name
		     , d.upper_no
		     , j.job_name
		  from member m	
		  join job j on (m.job_no=j.job_no)
		  join department d on (m.dept_no=d.dept_no)
		 where m.dept_no is not null
		 <choose>
			 <when test="condition == 'empName'">		
					and emp_name like '%' || #{keyword} || '%'
				</when>
	           	<when test="condition == 'jobTitle'">	
	    			and job_name like '%' || #{keyword} || '%'
	    		</when>
	    		<otherwise>
	    			and dept_name like '%' || #{keyword} || '%'
	    		</otherwise>
		 </choose>
		order by emp_name		 
	</select>
	
	
	<!-- 채팅 -->
	
</mapper>
