<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="messengerMapper">

	<resultMap id="emailResultSet" type="Email">
		<id column="mail_no" property="mailNo"/>
		<result column="import_Flag" property="mailImportFlag"/>
		<result column="mail_from" property="mailFrom"/>
		<result column="mail_name_from" property="mailnameFrom"/>
		<result column="mail_to" property="mailTo"/>
		<result column="mail_name_to" property="mailnameTo"/>
		<result column="mail_title" property="mailTitle"/>
		<result column="mail_with" property="mailWith"/>
		<result column="mail_name_with" property="mailnameWith"/>
		<result column="mail_content" property="mailContent"/>
		<result column="mail_attachment" property="mailAttachment"/>
		<result column="mail_date" property="mailDate"/>
		<result column="mail_read_flag" property="mailReadFlag"/>
		<result column="mail_status" property="mailStatus"/>
		
	</resultMap>
	
	<resultMap id="attachResultSet" type="MailAttachment">
		<id column="file_no" property="fileNo"/>
		<result column="mail_no" property="mailNo"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="file_path" property="filePath"/>
		<result column="upload_date" property="uploadDate"/>
		<result column="status" property="status"/>
		<result column="file_size" property="mailFileSize"/>
	</resultMap>
	
	<resultMap id="memberResult" type="Member">
		<result column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="emp_pwd" property="empPwd" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="profile_originname" property="originName" />
		<result column="profile_path" property="path" />
		<result column="status" property="status" />
		<result column="vac_all" property="vacAll" />
		<result column="job_no" property="jobNo" />
		<result column="dept_no" property="deptNo" />
		<result column="job_name" property="jobName" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<!-- 받은 메일 -->
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from mail
		 where mail_status='Y' 
		   and mail_to = #{mailTo} 
	</select>
	
	<select id="selectList" resultMap="emailResultSet">
		select * 
		  from mail
		 where mail_status='Y' 
		   and mail_to = #{mailTo}
		 order by mail_no desc
	</select>
	
	
	
	<!-- 보낸 메일 -->
	<select id="fselectListCount" resultType="_int">
		select count(*)
		  from mail
		 where mail_status='Y' 
		   and mail_from = #{mailFrom}
	</select>
	
	<select id="fselectList" resultMap="emailResultSet">
		select * 
		  from mail
		 where mail_status='Y' 
		   and mail_from = #{mailFrom}
		 order by mail_no desc
	</select>

	<!-- 중요 메일 -->
	<select id="iselectListCount" resultType="_int">
		select count(*)
		  from (select * 
			      from mail
			     where mail_from = #{mailOwn} 
			        or mail_to = #{mailOwn})
		 where mail_status='Y' 
		   and import_Flag='Y'
	</select>
	
	<select id="iselectList" resultMap="emailResultSet">
		select *
		from (select * 
			    from mail
			   where mail_from = #{mailOwn} 
			      or mail_to = #{mailOwn})
		where mail_status='Y' 
		  and import_Flag='Y'
		order by mail_date desc
	</select>
	
	
	
	<select id="searchListCount" resultType="_int">
		select count(*)
		  from mail
		 where mail_status='Y'
		    <if test="mailTo != null">
		    	and mail_To = #{mailTo}
		    </if>
		    <if test="mailFrom != null">
		    	and mail_from = #{mailFrom}
		    </if>
		    <if test="mailnameFrom != null">
				AND mail_name_from LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				AND mail_name_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				AND mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				AND mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
			
	</select>
	
	<select id="searchList" resultMap="emailResultSet">
		select * 
		  from mail
		 where mail_status='Y'
		 	<if test="mailTo != null">
		    	and mail_To = #{mailTo}
		    </if>
		    <if test="mailFrom != null">
		    	and mail_from = #{mailFrom}
		    </if>
		 	<if test="mailnameFrom != null">
				AND mail_name_From LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				AND mail_name_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				AND mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				AND mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
		 order by mail_no desc
	</select>
	
	<select id="isearchListCount" resultType="_int">
		select count(*)
		from (select * 
			  from mail
			  where mail_from = #{mailOwn} mail_to = #{mailOwn})
		where mail_status='Y' and import_Flag='Y'
		    <if test="mailnameFrom != null">
				and mail_name_from LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				and mail_name_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				and mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				and mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
			
	</select>
	
	<select id="isearchList"  resultMap="emailResultSet">
		select *
		from (select * 
			  from mail
			  where mail_from = #{mailOwn} mail_to = #{mailOwn})
		where mail_status='Y' and import_Flag='Y'
		 	<if test="mailnameFrom != null">
				and mail_name_From LIKE '%' || #{mailnameFrom} || '%'  
			</if>
			<if test="mailnameTo != null">
				and mail_name_to LIKE '%' || #{mailnameTo} || '%'
			</if>
			<if test="mailTitle != null">
				and mail_TITLE LIKE '%' || #{mailTitle} || '%'
			</if>
			<if test="mailContent != null">
				and mail_CONTENT LIKE '%' || #{mailContent} || '%'
			</if>
		 order by mail_no desc
	</select>
	
	
	<update id="readFlagUpdate" parameterType="_int">
		update mail set
		mail_read_flag = 'Y'
		where mail_no = #{mailNo}
	</update>
	
	<select id="selectMail" parameterType="_int" resultMap="emailResultSet">
		select * from mail
		where mail_no = #{mailNo}
	</select>
	
	<select id="fileList" parameterType="_int" resultMap="attachResultSet">
		select * 
		  from mail_attachment
		 where mail_no=#{mailNo}
		 order by file_no desc
	</select>


	<!-- 메일작성 -->
	<insert id="insertMail">
		insert 
		  into mail
		  (
		  	   mail_no
		  	 , import_flag
		  	 , mail_from
		  	 , mail_to
		  	 , mail_title
		  	 , mail_content
		  	 , mail_attachment
		  	 , mail_date
		  	 , mail_read_flag
		  	 , mail_status
		  	 , mail_name_from
		  	 , mail_name_to
		  	 , mail_with
		  	 , mail_name_with
		  )
		values
		( 
		       seq_emno.nextval
		     , default
		     , #{mailFrom}
		     , #{mailTo}
		     , #{mailTitle}
		     , #{mailContent}
		     , ''
		     , to_char(sysdate,'YYYY-MM-DD')
		     , default
		     , default
		     , #{mailnameFrom}
		     , #{mailnameTo}
		     , #{mailWith}
		     , #{mailnameWith}
		)
		
	</insert>
	
	<insert id="insertMailAttachment">
		insert 
		  into mail_attachment
		  (    file_no
		     , mail_no
		     , origin_name
		     , change_name
		     , file_path
		     , upload_date
		     , mail_file_size
		     , status
		  ) 
		values
		(      seq_emfno.nextval
		     , 
			   <choose> 
			   	  <when test='mailNo != ""'> 
				  #{mailNo}
				  </when> 
				  <otherwise> 
				  seq_emno.currval
				  </otherwise> 
			   </choose>
		     , #{originName}
		     , #{changeName}
		     , #{filePath}
		     , sysdate
		     , #{mailFileSize}
		     , 'Y'
		) 
		
	</insert>
	
	<update id="updateMailFlag">
		update mail 
		   set mail_attachment = 'N'
		 where mail_no = #{currNo}
	</update>
	
	<select id="nowMailNo" resultMap="emailResultSet">
		select mail_no 
		  from (select * 
		          from mail
		         order by mail_no desc) e
		 where rownum = 1
	</select>

	<select id="loadMailnameTo" resultType="String">
		select emp_name 
		  from member
		 where emp_no = #{toname}
	</select>

	<update id="deleteMail">
		update mail 
		   set
		       mail_status = 'N'
		 where mail_no = #{mailNo}
	</update>

	<update id="importFlagUpdate">
		update mail 
		   set
		       import_Flag = 'Y'
		 where mail_no = #{mailNo}
	</update>
	
	<update id="unImportFlagUpdate">
		update mail 
		   set
		       import_Flag = 'N'
		 where mail_no = #{mailNo}
	</update>
	
	<select id="notReadMail" resultType="_int">
		select count(*)
		  from mail
		 where mail_To = #{mailOwn} 
		   and mail_Read_Flag = 'N' 
		   and mail_status='Y'
	</select>
	
	<select id="fromMail" parameterType="String" resultType="_int">
		select count(*)
		  from mail
		 where mail_To = #{mailOwn} 
		   and mail_status='Y'
	</select>
	
	<select id="importMail" parameterType="String" resultType="_int">
		select count(*)
		  from mail
		 where mail_To = #{mailOwn} 
		   and import_Flag = 'Y' 
		   and mail_status='Y'
	</select>
	
	<select id="miniFromMailList" parameterType="String" resultMap="emailResultSet">
		select * 
		  from mail
		 where mail_status='Y' 
		   and mail_to = #{mailOwn}
		 order by mail_no desc
	</select>
	
	<select id="miniToMailList" parameterType="String" resultMap="emailResultSet">
		select * 
		  from mail
		 where mail_status='Y' 
		   and mail_From = #{mailOwn}
		 order by mail_no desc
	</select>
	
	<select id="miniImportMailList" parameterType="String" resultMap="emailResultSet">
		select *
		from (select * 
			    from mail
			   where mail_from = #{mailOwn} 
			      or mail_to = #{mailOwn})
		where mail_status='Y' 
		  and import_Flag='Y'
		order by mail_date desc
	</select>
	
	
	
	
	
	
	<!-- dept no 수정해야함 -->
	<!-- 조직도 부서별 사원 조회 -->
	<select id="selectDeptEmpList" parameterType="string" resultMap="memberResult">
		select 
			   emp_name
			 , d.dept_name
			 , emp_no
		  from member m
		  join department d on(m.dept_no = d.dept_no)
	 	<choose>
	 		<when test="keyword.equals('D0')">
	 			and m.dept_no='1'
	 		</when>
	 		<when test="keyword.equals('D1')">
	 			and m.dept_no='2'
	 		</when>
	 		<when test="keyword.equals('D2')">
	 			and m.dept_no='3'
	 		</when>
	 		<when test="keyword.equals('D3')">
	 			and m.dept_no='5'
	 		</when>
	 	</choose>
	 	order by emp_name
	</select>
</mapper>
