<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResult" type="Notice">
		<result column="notice_no" property="noticeNo" />
		<result column="notice_title" property="noticeTitle" />
		<result column="notice_content" property="noticeContent" />
		<result column="notice_edate" property="enrollDate" />
		<result column="notice_mdate" property="modifyDate" />
		<result column="notice_count" property="count" />
		<result column="notice_originname" property="noticeOrigin" />
		<result column="notice_filepath" property="noticePath" />
		<result column="notice_status" property="noticeStatus" />
	</resultMap>


	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from notice
		 where notice_status = 'Y'
	</select>

	<select id="selectList" resultMap="noticeResult">
		select
		        notice_no
		      , notice_title
		      , notice_content
		      , to_char(to_date(notice_edate), 'YYYY-MM-DD') as "notice_edate"
		      , notice_mdate
		      , notice_count
		      , notice_originname
		      , notice_filepath
		      , notice_status
		  from notice
		 where notice_status = 'Y'
		 order 
		    by notice_no desc
	</select>

	<insert id="insertNotice">
		insert
		  into notice
		      (
		        notice_no
		      , notice_title
		      , notice_content
		      , notice_originname
		      , notice_filepath
		      )
		values
		      (
		        seq_nno.nextval
		      , #{noticeTitle}
		      , #{noticeContent}
		      , #{noticeOrigin}
		      , #{noticePath}
		      )
	</insert>
	
	<update id="increaseCount">
		update notice
		   set notice_count = notice_count + 1
		 where notice_no = #{noticeNo}
		   and notice_status = 'Y'
	</update>

	<select id="selectNotice" resultMap="noticeResult">
		select 
		       notice_no
		     , notice_title
		     , notice_content
		     , to_char(to_date(notice_edate), 'YYYY-MM-DD') as "notice_edate"
		     , notice_originname
		     , notice_filepath  
		  from notice
		 where notice_no = #{noticeNo}
	</select>

	<update id="deleteNotice">
		update 
		       notice
		   set notice_status = 'N'
		 where notice_no = #{noticeNo}
	</update>

	<update id="updateNotice">
		update 
		       notice
		   set notice_title = #{noticeTitle}
		     , notice_content = #{noticeContent}
		     , notice_mdate = sysdate
		     , notice_originname = #{noticeOrigin}
		 where notice_no = #{noticeNo}
	</update>

	<select id="selectSearchCount" resultType="_int">
		select
		       count(*)
		  from notice
		 where notice_status = 'Y'
		   and notice_title 
		  like '%' || #{keyword} || '%'
	</select>

	<select id="selectSearchList" resultMap="noticeResult">
		select
		        notice_no
		      , notice_title
		      , notice_content
		      , to_char(to_date(notice_edate), 'YYYY-MM-DD') as "notice_edate"
		      , notice_mdate
		      , notice_count
		      , notice_originname
		      , notice_filepath
		      , notice_status
		  from notice
		 where notice_status = 'Y'
		   and notice_title like '%' || #{keyword} || '%'
		 order
		    by notice_no desc
	</select>
	
	<select id="selectTopNoticeList" resultMap="noticeResult">
		select *
		  from (
		        select 
		               notice_no
		             , notice_title
		             , to_char(to_date(notice_edate), 'YYYY-MM-DD') as "notice_edate"
		             , notice_count
		          from notice
		         where notice_status = 'Y'
		           and sysdate - notice_edate <![CDATA[ < ]]> 5
		         order
		            by notice_count desc
		        )
		 where rownum between 1 and 5
	</select>

</mapper>
