<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="receptionMapper">


	<!-- patient result -->
	<resultMap id="patientResult" type="Patient">
		<result column="chart_no" property="chartNo" />
		<result column="last_dep" property="lastDep" />
		<result column="patient_name" property="patientName" />
		<result column="id_no" property="idNo" />
		<result column="address" property="address" />
		<result column="memo" property="memo" />
		<result column="first_visit" property="firstVisit" />
		<result column="last_visit" property="lastVisit" />
		<result column="phone" property="phone" />
		<result column="protector" property="protector" />
		<result column="new" property="newOne" />
		<result column="doctor_name" property="docName" />
		<result column="clinic_no" property="clinicNo" />
		<result column="age" property="age" />
		<result column="gender" property="gender" />
	</resultMap>
	
	<!-- dept result -->
	<resultMap id="deptResult" type="Dept">
		<result column="dept_no" property="deptNo" />
		<result column="upper_no" property="upperNo" />
		<result column="dept_name" property="deptName" />
		<result column="level" property="level"/>
	</resultMap>
	
	<!-- member result -->
	<resultMap id="memberResult" type="Member">
		<result column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="emp_pwd" property="empPwd" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="profile_originname" property="originName" />
		<result column="profile_path" property="path" />
		<result column="status" property="status" />
		<result column="vac_all" property="vacAll" />
		<result column="job_no" property="jobNo" />
		<result column="dept_no" property="deptNo" />
		<result column="job_name" property="jobName" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<!-- clinic result -->
	<resultMap id="clinicResult" type="Clinic">
		<result column="clinic_no" property="clinicNo" />
		<result column="chart_no" property="chartNo" />
		<result column="dept_no" property="deptNo" />
		<result column="enroll_time" property="enrollTime" />
		<result column="enroll_date" property="enrollDate" />
		<result column="diagnosis_content" property="diagnosisContent" />
		<result column="surgery" property="surgery" />
		<result column="enter" property="enter" />
		<result column="status" property="status" />
		<result column="surgery_no2" property="surgeryNo2" />
		<result column="diseases_code" property="diseaseCode" />
		<result column="emp_no" property="empNo" />
		<result column="fee" property="fee" />
		<result column="disease" property="disease" />
		<result column="dept_name" property="deptName" />
		
		<result column="patient_name" property="patientName" />
		<result column="emp_name" property="docName" />
		<result column="lead_time" property="leadTime" />
		<result column="room_name" property="roomName" />
		<result column="surgery_date" property="surgeryDate" />
		<result column="sur_endtime" property="surEndTime" />
		<result column="sur_starttime" property="surStartTime" />
		<result column="surgery_date" property="surDate" />
		<result column="memo" property="memo" />
		<result column="booking_no" property="bookingNo" />
		
		<result column="gender" property="gender" />
		<result column="age" property="age" />
		<result column="id_no" property="idNo" />
	</resultMap>
	
	<!-- prescription result -->
	<resultMap id="prescriptionResult" type="Prescription">
		<result column="pre_no" property="preNo" />
		<result column="clinic_no" property="clinicNo" />
		<result column="inject_day" property="injectDay" />
		<result column="usage" property="usage"/>
		<result column="pre_date" property="preDate"/>
		<result column="patient_name" property="patientName"/>
		<result column="id_no" property="idNo"/>
		<result column="emp_no" property="docNo"/>
		<result column="emp_name" property="docName"/>
		<result column="diseases_code" property="diseasesCode"/>
		<result column="disease" property="diseaseName"/>
	</resultMap>

	<!-- medicine result -->
	<resultMap id="medicineResult" type="Medicine">
		<result column="med_no" property="medNo" />
		<result column="med_name" property="medName" />
		<result column="dosetime" property="dosetime" />
	</resultMap>	
	
	<!-- reciept result -->
	<resultMap id="receiptResult" type="Receipt">
		<result column="pay_no" property="payNo" />
		<result column="clinic_no" property="clinicNo" />
		<result column="patient_name" property="patientName" />
		<result column="enroll_date" property="enrollDate" />
		<result column="enter_date" property="enterDate" />
		<result column="leave_date" property="leaveDate" />
		<result column="fee" property="fee" />
		<result column="enter_fee" property="enterFee" />
		<result column="s_payment" property="surgeryFee" />
		<result column="chart_no" property="chartNo" />
		<result column="meals" property="meals" />
		<result column="disease" property="disease" />
		<result column="surgery_name" property="surgeryName" />
		<result column="total" property="total" />
	</resultMap>
	
	<!-- proomCalendar result -->
	<resultMap id="proomResult" type="ProomCalendar">
		<result column="WORKING_DAY" property="date" />
		<result column="proom_no" property="proomNo" />
		<result column="room_name" property="roomName" />
		<result column="capacity" property="capacity" />
		<result column="price" property="price" />
		<result column="namelist" property="nameList" />
		<result column="count" property="count" />
	</resultMap>
	
	<!-- 수납 관리용 result -->
	<resultMap id="payResult" type="Pay">
		<result column="clinic_no" property="clinicNo" />
		<result column="pay_no" property="payNo" />
		<result column="patient_name" property="patientName" />
		<result column="gender" property="gender" />
		<result column="id_no" property="idNo" />
		<result column="dept_name" property="deptName" />
		<result column="emp_no" property="empNo" />
		<result column="dept_no" property="deptNo" />
		<result column="pay_date" property="payDate" />
		<result column="emp_name" property="docName" />
	</resultMap>
	
	<!-- 전체 환자 수 조회 -->	
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from patient
	</select>

	<!-- 전체 환자 조회 -->
	<select id="selectList" resultMap="patientResult">
 		select 
		       chart_no
		     , dept_name as "last_dep"
		     , patient_name
		     , trunc((to_number(to_char(sysdate, 'YYYYMMDD'))-to_number(to_char(decode(substr(id_no, 8, 1), '1', '19', '2', '19', '20')||substr(id_no, 1, 6))))/10000) as "age"
		     , "id_no"
		     , memo
		     , first_visit
		     , last_visit
		     , "new"
		     , "gender"
   		     , phone
             , protector
             , address
               from (
		          select
                   chart_no
		             , dept_name
		             , patient_name
                     , id_no
		             , rpad(substr(id_no,1,8),14,'*')as "id_no"
		             , address
		             , memo
		             , first_visit
		             , last_visit
		             , phone
		             , protector
		             , decode(new, 'Y', '초진', 'N', '재진') as "new"
		             , case 
		                  when substr(id_no, 8, 1) in ('1', '3') then '남'
		                  when substr(id_no, 8, 1) in ('2', '4') then '여'
		               end "gender"
		           from patient
              left join department on(last_dep = dept_no)
		        )
                  order
                     by last_visit desc
	</select>

	<!-- 환자 insert -->
	<insert id="insertPatient">
		insert
		into patient
		(
		chart_no
		, last_dep
		, patient_name
		, id_no
		, address
		, memo
		, first_visit
		, last_visit
		, phone
		, protector
		, new
		)
		values
		(
		seq_ptno.nextval
		, #{lastDep}
		, #{patientName}
		, #{idNo}
		, #{address}
		, #{memo}
		, sysdate
		, sysdate
		, #{phone}
		, #{protector}
		, default
		)
	</insert>
	
	<!-- 접수할 환자 선택 -->
	<select id="selectPatient" resultMap="patientResult">
		select 
		       chart_no
		     , dept_name as "last_dep"
		     , patient_name
		     , trunc((to_number(to_char(sysdate, 'YYYYMMDD'))-to_number(to_char(decode(substr(id_no, 8, 1), '1', '19', '2', '19', '20')||substr(id_no, 1, 6))))/10000) as "age"
		     , "id_no"
		     , phone
		     , protector
		     , address
		     , memo
		     , first_visit
		     , last_visit
		     , "new"
		     , "gender"
               from (
		          select
                   chart_no
		             , dept_name
		             , patient_name
                     , id_no
		             , rpad(substr(id_no,1,8),14,'*')as "id_no"
		             , address
		             , memo
		             , first_visit
		             , last_visit
		             , phone
		             , protector
		             , decode(new, 'Y', '초진', 'N', '재진') as "new"
		             , case 
		                  when substr(id_no, 8, 1) in ('1', '3') then '남'
		                  when substr(id_no, 8, 1) in ('2', '4') then '여'
		               end "gender"
		           from patient
              left join department on(last_dep = dept_no)
		        )
		where chart_no = #{chartNo}
	</select>
	
	<!-- 부서조회 -->
	<select id="selectDeptList" resultMap="deptResult">
		select
		       dept_no
		     , dept_name
		  from department
	     where upper_no = 1
	</select>
	
	<!-- 교수조회 -->
	<select id="selectProfList" resultMap="memberResult">
		select
		       emp_no
		     , emp_name
             , dept_name
		  from member
          join job using(job_no)
          join department using(dept_no)
         where job_no = 2
	</select>
	
	<!-- 진료 insert -->
	<insert id="insertTreatment">
		insert
		into clinic
		(
		  clinic_no
		, chart_no
		, dept_no
		, enroll_time
		, enroll_date
		, diagnosis_content
		, surgery
		, enter
		, status
		, surgery_no2
		, diseases_code
		, emp_no
		, fee
		)
		values
		(
		seq_clno.nextval
		, #{chartNo}
		, #{deptNo}
		, TO_CHAR(SYSDATE, 'HH24:MI:SS')
		, TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		, #{diagnosisContent}
		, default
		, default
		, 'W'
		, default
		, default
		, #{empNo}
		, #{fee}
		)
	</insert>
	
	<!-- 진료 대기/ 진료중 리스트 조회 -->
	<select id="ajaxSelectWaitingPatient" resultMap="clinicResult">
		select 
               chart_no 
		     , patient_name
             , "gender"
		     , trunc((to_number(to_char(sysdate, 'YYYYMMDD'))-to_number(to_char(decode(substr(id_no, 8, 1), '1', '19', '2', '19', '20')||substr(id_no, 1, 6))))/10000) as "age"
		     , dept_name
               from (
		          select
                       chart_no 
		             , patient_name
		             , id_no
		             , case 
		                  when substr(id_no, 8, 1) in ('1', '3') then '남'
		                  when substr(id_no, 8, 1) in ('2', '4') then '여'
		               end "gender"
                     , dept_name
                     , enroll_date||' '||enroll_time as "enroll"
		           from clinic c
                   join patient using(chart_no)
                   join department using(dept_no)
              where status = 'W'
              order by "enroll" asc
		        )
	</select>
	
	<select id="ajaxSelectIngPatient" resultMap="clinicResult">
		select 
               chart_no 
		     , patient_name
             , "gender"
		     , trunc((to_number(to_char(sysdate, 'YYYYMMDD'))-to_number(to_char(decode(substr(id_no, 8, 1), '1', '19', '2', '19', '20')||substr(id_no, 1, 6))))/10000) as "age"
		     , dept_name
               from (
		          select
                       chart_no 
		             , patient_name
		             , id_no
		             , case 
		                  when substr(id_no, 8, 1) in ('1', '3') then '남'
		                  when substr(id_no, 8, 1) in ('2', '4') then '여'
		               end "gender"
                     , dept_name
                     , enroll_date||' '||enroll_time as "enroll"
		           from clinic c
                   join patient using(chart_no)
                   join department using(dept_no)
              where status = 'P'
              order by "enroll" asc
		        )
	</select>

	<!-- 진료중으로 상태 변경 -->	
	<update id="ajaxChangePatientStatus">
		update
			   clinic
		   set status = 'P'
		 where chart_no = #{changeChartNo}
		   and status = 'W'
	</update>
	
	<!-- 예약 대기 리스트 조회 -->
	<select id="ajaxSurgeryWaitingList" resultMap="clinicResult">
		select 
               chart_no 
             , clinic_no
	         , patient_name
             , "gender"
             , "id_no"
	         , dept_name
         from (
	          select
                      chart_no 
                    , clinic_no
	                , patient_name
	                , rpad(substr(id_no,1,8),14,'*')as "id_no"
	                , case 
	                  when substr(id_no, 8, 1) in ('1', '3') then '남'
	                  when substr(id_no, 8, 1) in ('2', '4') then '여'
	               end "gender"
                    , dept_name
                    , enroll_date||' '||enroll_time as "enroll"
	            from clinic c
                   join patient using(chart_no)
                   join department using(dept_no)
               where status = 'D'
                 and surgery = 'Y'
               order by "enroll" asc
	          )
	</select>
	
	<select id="ajaxPRoomWaitingList" resultMap="clinicResult">
		select 
               chart_no 
             , clinic_no
	         , patient_name
             , "gender"
             , "id_no"
	         , dept_name
         from (
	          select
                      chart_no 
                    , clinic_no
	                , patient_name
	                , rpad(substr(id_no,1,8),14,'*')as "id_no"
	                , case 
	                  when substr(id_no, 8, 1) in ('1', '3') then '남'
	                  when substr(id_no, 8, 1) in ('2', '4') then '여'
	               end "gender"
                    , dept_name
                    , enroll_date||' '||enroll_time as "enroll"
	            from clinic c
                   join patient using(chart_no)
                   join department using(dept_no)
               where status = 'D'
                 and enter = 'Y'
               order by "enroll" asc
	          )
	</select>
	
	<!-- 예약 완료로 진료 상태 변경 -->
	<update id="ajaxUpdateClinicSurgery">
		update
			   clinic
		   set surgery = 'D'
		 where clinic_no = #{clinicNo}
	</update>
	
	<update id="ajaxUpdateClinicEnter">
		update
			   clinic
		   set enter = 'D'
		 where clinic_no = #{clinicNo}
	</update>
	
	<!-- 과거 진료 내역 조회 -->
	<select id="pastClinicList" resultMap="clinicResult">	
        select 
			   clinic_no
			 , chart_no
			 , enroll_date
 			 , enroll_date||' '||enroll_time as "enroll"
			 , disease
			 , emp_name
             , emp_no
             , dept_name
	      from clinic c
		  join member m using(emp_no)
     left join disease using(diseases_code)
     join department d on(d.dept_no = m.dept_no)
		 where chart_no = #{chart_no}
		   and c.status = 'D'
         order
            by "enroll" desc
	</select>
	
	<!-- 과거 진료 내역 수 조회 -->
	<select id="pastClinicListCount" resultType="_int">
		select
			   count(*)
		  from clinic
  		 where chart_no = #{chartNo}
		   and status = 'D'
	</select>
	
	<!-- 처방전 -> 진료 정보 조회 -->
	<select id="selectPrescription" resultMap="prescriptionResult">		
 		select
	       pre_no
	     , clinic_no
         , inject_day
         , decode(usage, '1', '식전', '2', '식후')||' 30분' as "usage"
	     , TO_CHAR(to_date(enroll_date), 'YYYY"년"MM"월"DD"일"' ) pre_date
	     , patient_name
	     , id_no
	     , emp_no
	     , emp_name
         , diseases_code
         , disease
	     from clinic
	     join prescription using(clinic_no)
	     join patient using(chart_no)
	     join member using(emp_no)
         join disease using(diseases_code)
	     where clinic_no = #{clinicNo}
	</select>
	
	<!-- 처방전 -> 약 정보 조회 -->
	<select id="selectMedicineList" resultMap="medicineResult">			
		select
		       med_no
		     , med_name
		     , dosetime
		  from pre_med
		  join medicine using(med_no)
		 where pre_no =
		            (
		             select pre_no
		               from clinic
		               join prescription using(clinic_no)
		              where clinic_no = #{clinicNo}
		              )
    </select>
    
 	<!-- 수납 영수증 정보 조회 -->
	<select id="selectReceipt" resultMap="receiptResult">	   
	    select pay_no
			 , clinic_no
			 , patient_name
			 , enroll_date
			 , enter_date
			 , leave_date
			 , fee
			 , nvl(enter_fee,'0') "enter_fee"
             , nvl(s.S_PAYMENT,'0') "s_payment"
			 , chart_no
			 , nvl(meals,'0') "meals"
             , disease
             , s.surgery_name
             , fee + nvl(enter_fee,0) + nvl(s.S_PAYMENT,0) + nvl(meals,0) "total"
	     from pay p
		 left join clinic using(clinic_no)
		 left join patient using(chart_no)
		 left join surgery using(surgery_no)
	   	 left join proom_booking using(clinic_no)
         left join disease using(DISEASES_CODE)
         left join surgery s using(SURGERY_NO)
	    where clinic_no = #{clinicNo}
    </select> 
    
 	<!-- 입원실 출력용 날짜 조회 -->    
   <select id="selectDateList" resultMap="proomResult"> 
	SELECT TO_CHAR(TRUNC(to_date(#{nowDate}), 'MM') + LEVEL - 1, 'YYYY-MM-DD') WORKING_DAY
	          FROM DUAL
	        CONNECT BY LEVEL <![CDATA[ <= ]]> TO_CHAR(LAST_DAY(to_date(#{nowDate})), 'DD')
   </select>
   
 	<!-- 입원실 출력용 입원실 리스트 조회 -->   
   <select id="selectPRoomList" resultMap="proomResult">    
	   select proom_no
		    , room_name
		    , capacity
		    , price
		 from patientroom
		order
		   by proom_no asc
   </select> 
   
   <!-- 입원실 출력용 입원실 예약 리스트 조회 -->
   <select id="selectPRoomBookingList" resultMap="proomResult">    
	   SELECT M.WORKING_DAY, PB.PROOM_NO, PB.ROOM_NAME, LISTAGG(p.patient_name, ',') WITHIN GROUP(ORDER BY p.patient_name) as "namelist", count(*) as "count"
		  FROM PROOM_BOOKING PB
		  JOIN (
		        SELECT WORKING_DAY, PROOM_NO, ROOM_NAME
		          FROM (
		                    SELECT to_char(TRUNC(to_date(#{nowDate}), 'MM') + LEVEL - 1, 'YYYY-MM-DD') WORKING_DAY
		                      FROM DUAL
		                    CONNECT BY LEVEL <![CDATA[ <= ]]> TO_CHAR(LAST_DAY(to_date(#{nowDate})), 'DD')
		                ), ( SELECT PROOM_NO, ROOM_NAME FROM PATIENTROOM )
		        ) M ON ( (M.WORKING_DAY BETWEEN PB.ENTER_DATE AND PB.LEAVE_DATE) AND M.PROOM_NO = PB.PROOM_NO AND M.ROOM_NAME = PB.ROOM_NAME)
		  LEFT JOIN CLINIC C ON(PB.CLINIC_NO = C.CLINIC_NO)
		  LEFT JOIN PATIENT P ON(C.CHART_NO = P.CHART_NO)
		 GROUP BY M.WORKING_DAY, PB.PROOM_NO, PB.ROOM_NAME
		ORDER 
		   BY M.WORKING_DAY, PROOM_NO
      </select>
      
    <!-- 검색 환자 수 조회 -->	
	<select id="selectSearchCount" resultType="_int">
		select
			   count(*)
		  from patient
		 where patient_name like '%' || #{keyword} || '%'
	</select>
	
	<!-- 검색 환자 조회 -->
	<select id="selectSearchList" resultMap="patientResult">
 		select 
		       chart_no
		     , dept_name as "last_dep"
		     , patient_name
		     , trunc((to_number(to_char(sysdate, 'YYYYMMDD'))-to_number(to_char(decode(substr(id_no, 8, 1), '1', '19', '2', '19', '20')||substr(id_no, 1, 6))))/10000) as "age"
		     , "id_no"
		     , memo
		     , first_visit
		     , last_visit
		     , "new"
		     , "gender"
   		     , phone
             , protector
             , address
               from (
		          select
                   chart_no
		             , dept_name
		             , patient_name
                     , id_no
		             , rpad(substr(id_no,1,8),14,'*')as "id_no"
		             , address
		             , memo
		             , first_visit
		             , last_visit
		             , phone
		             , protector
		             , decode(new, 'Y', '초진', 'N', '재진') as "new"
		             , case 
		                  when substr(id_no, 8, 1) in ('1', '3') then '남'
		                  when substr(id_no, 8, 1) in ('2', '4') then '여'
		               end "gender"
		           from patient
              left join department on(last_dep = dept_no)
		        )
          where patient_name like '%' || #{keyword} || '%'
          order
             by last_visit desc
	</select>
	
	<!-- 최근 진료과/방문일 변경 -->
	<update id="updatePatientLastDept">
		update
			   patient
		   set last_dep = #{deptNo}
		     , last_visit = sysdate
		 where chart_no = #{chartNo}
	</update>
	
	<!-- 수납 대기 리스트 -->
	<select id="selectPayWaitingList" resultMap="payResult">
        select 
               clinic_no
             , pay_no
             , patient_name
             , case 
               when substr(id_no, 8, 1) in ('1', '3') then '남'
               when substr(id_no, 8, 1) in ('2', '4') then '여'
               end "gender"
             , rpad(substr(id_no,1,8),14,'*')as "id_no"
             , dept_name
             , emp_name
        from clinic
        left join patient using(chart_no)
        join pay p using(clinic_no)
        join member m using(emp_no)
        join department d on d.dept_no = m.dept_no
        where p.status = 'N'
        order by pay_no asc
    </select>
    
   	<!-- 수납 완료 리스트 -->
	<select id="selectPayDoneList" resultMap="payResult">
        select 
               clinic_no
             , pay_no
             , patient_name
             , case 
               when substr(id_no, 8, 1) in ('1', '3') then '남'
               when substr(id_no, 8, 1) in ('2', '4') then '여'
               end "gender"
             , rpad(substr(id_no,1,8),14,'*')as "id_no"
             , dept_name
             , emp_name
             , pay_date
        from clinic
        left join patient using(chart_no)
        join pay p using(clinic_no)
        join member m using(emp_no)
        join department d on d.dept_no = m.dept_no
        where p.status = 'Y'
        order by pay_date desc
    </select>
    
   	<!-- 수납 완료 수 조회 -->
	<select id="selectPayDoneCount" resultType="_int">
        select 
               count(*)
        from pay
        where status = 'Y'
        order by pay_no desc
    </select>
    
   	<!-- 수납완료로 상태 변경 -->	
	<update id="ajaxChangePayStatus">
		update
			   pay
		   set status = 'Y'
             , pay_date = sysdate
		 where pay_no = #{changePayNo}
	</update>
	
   	<!-- 환자 정보 변경 -->	
	<update id="updatePatient">
		update
			   patient
		   set phone = #{phone}
             , protector = #{protector}
             , address = #{address}
             , memo = #{memo}
		 where chart_no = #{chartNo}
	</update>
</mapper>
