<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="receptionMapper">


	<!-- patient result -->
	<resultMap id="patientResult" type="Patient">
		<result column="chart_no" property="chartNo" />
		<result column="last_dep" property="lastDep" />
		<result column="patient_name" property="patientName" />
		<result column="id_no" property="idNo" />
		<result column="address" property="address" />
		<result column="memo" property="memo" />
		<result column="first_visit" property="firstVisit" />
		<result column="last_visit" property="lastVisit" />
		<result column="phone" property="phone" />
		<result column="protector" property="protector" />
		<result column="new" property="newOne" />
		<result column="doctor_name" property="docName" />
		<result column="clinic_no" property="clinicNo" />
		<result column="만나이" property="age" />
		<result column="성별" property="gender" />
	</resultMap>
	
	<!-- dept result -->
	<resultMap id="deptResult" type="Dept">
		<result column="dept_no" property="deptNo" />
		<result column="upper_no" property="upperNo" />
		<result column="dept_name" property="deptName" />
		<result column="level" property="level"/>
	</resultMap>
	
	<!-- member result -->
	<resultMap id="memberResult" type="Member">
		<result column="emp_no" property="empNo" />
		<result column="emp_name" property="empName" />
		<result column="emp_pwd" property="empPwd" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="profile_originname" property="originName" />
		<result column="profile_path" property="path" />
		<result column="status" property="status" />
		<result column="vac_all" property="vacAll" />
		<result column="job_no" property="jobNo" />
		<result column="dept_no" property="deptNo" />
		<result column="job_name" property="jobName" />
		<result column="dept_name" property="deptName" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from patient
	</select>

	<select id="selectList" resultMap="patientResult">
		select 
		       chart_no
		     , dept_name as "last_dep"
		     , patient_name
		     , trunc((to_number(to_char(sysdate, 'YYYYMMDD'))-to_number(to_char(decode(substr(id_no, 8, 1), '1', '19', '2', '19', '20')||substr(id_no, 1, 6))))/10000) as "만나이"
		     , id_no
		     , memo
		     , first_visit
		     , last_visit
		     , "new"
		     , 성별
               from (
		          select
                   chart_no
		             , dept_name
		             , patient_name
		             , id_no
		             , address
		             , memo
		             , first_visit
		             , last_visit
		             , phone
		             , protector
		             , decode(new, 'Y', '초진', 'N', '재진', '??') as "new"
		             , case 
		                  when substr(id_no, 8, 1) in ('1', '3') then '남자'
		                  when substr(id_no, 8, 1) in ('2', '4') then '여자'
		               end "성별"
		           from patient
                   join department on(last_dep = dept_no)
		        )
	</select>

	<!-- 환자 insert -->
	<insert id="insertPatient">
		insert
		into patient
		(
		chart_no
		, last_dep
		, patient_name
		, id_no
		, address
		, memo
		, first_visit
		, last_visit
		, phone
		, protector
		, new
		)
		values
		(
		seq_ptno.nextval
		, #{lastDep}
		, #{patientName}
		, #{idNo}
		, #{address}
		, #{memo}
		, sysdate
		, sysdate
		, #{phone}
		, #{protector}
		, default
		)
	</insert>

	<select id="selectPatient" resultMap="patientResult">
		select 
		       chart_no
		     , dept_name as "last_dep"
		     , patient_name
		     , trunc((to_number(to_char(sysdate, 'YYYYMMDD'))-to_number(to_char(decode(substr(id_no, 8, 1), '1', '19', '2', '19', '20')||substr(id_no, 1, 6))))/10000) as "만나이"
		     , id_no
		     , memo
		     , first_visit
		     , last_visit
		     , "new"
		     , 성별
               from (
		          select
                   chart_no
		             , dept_name
		             , patient_name
		             , id_no
		             , address
		             , memo
		             , first_visit
		             , last_visit
		             , phone
		             , protector
		             , decode(new, 'Y', '초진', 'N', '재진', '??') as "new"
		             , case 
		                  when substr(id_no, 8, 1) in ('1', '3') then '남자'
		                  when substr(id_no, 8, 1) in ('2', '4') then '여자'
		               end "성별"
		           from patient
                   join department on(last_dep = dept_no)
		        )
		where chart_no = #{chartNo}
	</select>
	
	<select id="selectDeptList" resultMap="deptResult">
		select
		       dept_no
		     , dept_name
		  from department
	     where upper_no = 1
	</select>

	<select id="selectProfList" resultMap="memberResult">
		select
		       emp_no
		     , emp_name
		  from member
          join job using(job_no)
         where job_no = 2
	</select>
	
		<!-- 환자 insert -->
	<insert id="insertTreatment">
		insert
		into clinic
		(
		  clinic_no
		, chart_no
		, dept_no
		, enroll_time
		, enroll_date
		, diagnosis_content
		, surgery
		, enter
		, status
		, surgery_no2
		, diseases_code
		, emp_no
		, fee
		)
		values
		(
		seq_clno.nextval
		, #{chartNo}
		, #{deptNo}
		, TO_CHAR(SYSDATE, 'HH24:MI:SS')
		, TO_CHAR(SYSDATE, 'YYYY-MM-DD')
		, #{diagnosisContent}
		, default
		, default
		, 'W'
		, default
		, default
		, #{empNo}
		, #{fee}
		)
	</insert>

</mapper>
