<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="signMapper">
	
	<resultMap id="signResult" type="Sign">
		<result column="appr_no" property="apprNo" />
		<result column="appr_title" property="apprTitle" />
		<result column="appr_content" property="apprContent" />
		<result column="enroll_date" property="enrollDate" />
		<result column="appr_status" property="apprStatus" />
		<result column="appr_storage" property="apprStorage" />
		<result column="origin_name" property="originName" />
		<result column="change_name" property="changeName" />
		<result column="appr_total" property="apprTotal" />
		<result column="emp_no" property="empNo" />
		<result column="form_no" property="formNo" />
		<result column="form_title" property="formTitle" />
		<result column="emp_name" property="empName" />
		<result column="dept_name" property="deptName" />
		<result column="job_name" property="jobName" />
	</resultMap>
	
	<resultMap id="formResult" type="Form">
		<result column="form_no" property="formNo" />
		<result column="form_title" property="formTitle" />
		<result column="form_content" property="formContent" />
		<result column="form_type" property="formType" />
		<result column="form_status" property="formStatus" />
		<result column="form_info" property="formInfo" />
		<result column="enroll_date" property="enrollDate" />
	</resultMap>
	
	<resultMap id="lineResult" type="line">
		<result column="line_no" property="lineNo" />
		<result column="line_level" property="lineLevel" />
		<result column="line_status" property="lineStatus" />
		<result column="line_comment" property="lineComment" />
		<result column="line_disappr" property="lineDisappr" />
		<result column="line_refer" property="lineRefer" />
		<result column="emp_no" property="empNo" />
		<result column="appr_no" property="apprNo" />
		<result column="line_now" property="lineNow" />
		<result column="line_date" property="lineDate" />
		<result column="emp_name" property="empName" />
		<result column="job_name" property="jobName" />
	</resultMap>
	
	<!-- 관리자_결재양식 리스트 조회 -->
	<select id="selectListCount" resultType="_int">
		select
			   count(*)
		  from appr_form
		 where form_del = 'N'
	</select>

	<select id="selectFormList" resultMap="formResult">
		select 
			   form_no
			 , form_title
			 , form_type
			 , form_status
			 , form_info
			 , to_char(enroll_date, 'YYYY-MM-DD') AS "enroll_date"
		  from appr_form
		 where form_del = 'N'
		 order
		    by form_no desc
	</select>
	
	<!-- 관리자_결재양식 상세조회 -->
	<select id="selectFormDetail" resultMap="formResult">
		select
			   form_no
			 , form_title
			 , form_content
			 , form_status
			 , form_info
		  from appr_form
		 where form_no = #{formNo}
	</select>
	
	<!-- 관리자_결재양식 수정 -->
	<update id="updateForm">
		update
		       appr_form
		   set form_title = #{formTitle}
		     , form_content = #{formContent}
		     , form_status = #{formStatus}
		     , form_info = #{formInfo}
		     , modify_date = sysdate
		 where form_no = #{formNo}
	</update>
	
	<!-- 관리자_결재양식 추가 -->
	<insert id="insertForm">
		insert 
		  into appr_form
		  (
		    form_no
		  , form_title
		  , form_content
		  , form_status
		  , form_info
		  )
		  values
		  (
		    seq_afno.nextval
		  , #{formTitle}
		  , #{formContent}
		  , #{formStatus}
		  , #{formInfo}
		  )
	</insert>
	
	<!-- 관리자_결재양식 삭제 -->
	<update id="deleteForm">
		update
			   appr_form
		   set modify_date = sysdate
		     , form_del = 'Y'
		 where form_no = #{formNo}
	</update>
	
	<!-- 사용자_결재양식선택 리스트 조회 -->
	<select id="selectApprFormList" resultMap="formResult">
		select 
			   form_no
			 , form_title
			 , form_info
		  from appr_form
		 where form_del = 'N'
		   and form_type = '일반'
		   and form_status = 'Y'
		 order
		    by form_no desc
	</select>
	
	<!-- 사용자_결재대기함 페이지 -->
	<select id="selectApprListCount" resultType="_int">
		select
			   count(*)
		  from approval
		 where appr_status = '대기'
		   and appr_storage = 'N'
	</select>
	
	<select id="selectApprStandbyList" resultMap="signResult">
		select
			   appr_no
			 , appr_title
			 , to_char(v.enroll_date, 'YYYY-MM-DD') as "enroll_date"
			 , form_title
			 , emp_name
		  from approval v
		  join appr_form f on (v.form_no = f.form_no)
		  join member m on (v.emp_no = m.emp_no)
		 where appr_status = '대기'
		   and appr_storage = 'N'
		 order
		    by appr_no desc
	</select>

	<!-- 사용자_결재 요청 -->
	<insert id="insertAppr">
		insert
		  into approval
		  	 (
		  	   appr_no
			 , appr_title
			 , appr_content
			 , origin_name
			 , change_name
			 , appr_total
			 , emp_no
			 , form_no
		  	 ) 
		values
			 (
			   seq_apno.nextval
			 , #{apprTitle}
			 , #{apprContent}
			 , #{originName}
			 , #{changeName}
			 , #{apprTotal}
			 , #{empNo}
			 , #{formNo}
			 )
	</insert>
	
	<insert id="insertLine">
		insert
		  into appr_line
			  (
			    line_no
			  , line_level
			  , emp_no
			  , appr_no
			  )
			values
			  (
			    seq_alno.nextval
			  , #{lineLevel}
			  , #{empNo}
			  , seq_apno.currval
			  )
	</insert>
	
	<insert id="insertRef">
		insert
		  into appr_line
			  (
			    line_no
			  , line_refer
			  , emp_no
			  , appr_no
			  )
			values
			  (
			    seq_alno.nextval
			  , 'Y'
			  , #{empNo}
			  , seq_apno.currval
			  )
	</insert>
	
	<!-- 사용자_참조문서함 페이지 -->
	<select id="selectReferListCount" resultType="_int">
		select
		       count(*)
		  from approval v
		  join appr_line l on (v.appr_no = l.appr_no)
		 where appr_storage = 'N'
		   and l.emp_no = #{empNo}
		   and line_refer = 'Y'
	</select>
	
	<select id="selectApprReferList" resultMap="signResult">
		select
			   v.appr_no
			 , appr_title
			 , to_char(v.enroll_date, 'YYYY-MM-DD') as "enroll_date"
			 , appr_status
			 , form_title
			 , emp_name
		  from approval v
		  join appr_line l on (v.appr_no = l.appr_no)
		  join appr_form f on (v.form_no = f.form_no)
		  join member m on (v.emp_no = m.emp_no)
		 where appr_storage = 'N'
		   and l.emp_no = #{empNo}
   			and line_refer = 'Y'
		 order
		    by appr_no desc
	</select>
	
	<!-- 사용자_참조문서함 상세조회 -->
	<select id="selectApprReferDetail" resultMap="signResult">
		select
		       v.appr_no
		     , appr_title
		     , appr_content
		     , to_char(v.enroll_date, 'YYYY-MM-DD') as "enroll_date"
		     , origin_name
		     , change_name
		     , emp_name
		     , dept_name
		     , job_name
		  from approval v
		  join appr_line l on (v.appr_no = l.appr_no)
		  join member m on (v.emp_no = m.emp_no)
		  join department d on (m.dept_no = d.dept_no)
		  join job j on (m.job_no = j.job_no)
		 where v.appr_no = #{apprNo}
		   and line_refer = 'Y'
	</select>
	
	<!-- 사용자_결재선 담기 -->
	<select id="selectApprLine" resultMap="lineResult">
		select
		       line_status
		     , line_comment
		     , line_disappr
		     , line_refer
		     , emp_name
		     , to_char(line_date, 'YYYY-MM-DD') as "line_date"
		     , job_name
		  from appr_line l
		  join approval v on (l.appr_no = v.appr_no)
		  join member m on (l.emp_no = m.emp_no)
		  join job j on (m.job_no = j.job_no)
		 where l.appr_no = #{apprNo}
		   and line_refer = 'N'
	</select>
	
	<!-- 사용자_참조자 담기 -->
	<select id="selectApprRef" resultMap="lineResult">
		select
		       line_status
		     , line_comment
		     , line_disappr
		     , line_refer
		     , emp_name
		     , line_date
		  from appr_line l
		  join approval v on (l.appr_no = v.appr_no)
		  join member m on (l.emp_no = m.emp_no)
		 where l.appr_no = #{apprNo}
		   and line_refer = 'Y'
	</select>
	
	<!-- 사용자_기안문서함 페이지 -->
	<select id="selectReportListCount" resultType="_int">
		select
		       count(*)
		  from approval
		 where appr_storage = 'N'
		   and emp_no = #{empNo}
	</select>
	
	<select id="selectApprReportList" resultMap="signResult">
		select
		       v.appr_no
		     , appr_title
		     , to_char(v.enroll_date, 'YYYY-MM-DD') as "enroll_date"
		     , appr_status
		     , form_title
		     , emp_name
		  from approval v
		  join appr_form f on (v.form_no = f.form_no)
		  join member m on (v.emp_no = m.emp_no)
		 where appr_storage = 'N'
		   and v.emp_no = #{empNo}
		 order
		    by appr_no desc
	</select>
	
	<!-- 사용자_기안문서함 상세조회 -->
	<select id="selectApprReportDetail" resultMap="signResult">
		select
		       v.appr_no
		     , appr_title
		     , appr_content
		     , to_char(v.enroll_date, 'YYYY-MM-DD') as "enroll_date"
		     , appr_status
		     , origin_name
		     , change_name
		     , emp_name
		     , dept_name
		     , job_name
		  from approval v
		  join member m on (v.emp_no = m.emp_no)
		  join department d on (m.dept_no = d.dept_no)
		  join job j on (m.job_no = j.job_no)
		 where v.appr_no = #{apprNo}
	</select>
	
	<!-- 사용자_결재의견 개수 담기 -->
	<select id="selectCommentCount" resultType="_int">
		select
		       count(*)
		  from appr_line
		 where line_comment is not null
		   and appr_no = #{apprNo}
	</select>
	
	<!-- 사용자_결재문서함 리스트 조회 -->
	<select id="selectGetListCount" resultType="_int">
		select
		       count(*)
		  from approval v
		  join appr_line l on (v.appr_no = l.appr_no)
		 where appr_storage = 'N'
		   and l.emp_no = #{empNo}
		   and line_refer = 'N'
	</select>
	
	<select id="selectApprGetList" resultMap="signResult">
		select
		       v.appr_no
		     , appr_title
		     , to_char(v.enroll_date, 'YYYY-MM-DD') as "enroll_date"
		     , appr_status
		     , form_title
		     , emp_name
		  from approval v
		  join appr_line l on (v.appr_no = l.appr_no)
		  join appr_form f on (v.form_no = f.form_no)
		  join member m on (v.emp_no = m.emp_no)
		 where appr_storage = 'N'
		   and l.emp_no = #{empNo}
		   and line_refer= 'N'
		 order
		    by appr_no desc
	</select>
	
	<!-- 결재완료일 조회 
	<select id="selectApprLineDate" resultMap="lineResult">
		select
		       line_date
		  from appr_line l
		  join approval v on (l.appr_no = v.appr_no)
		 where appr_total = line_level
		   and l.emp_no = #{empNo}
		   and appr_storage = 'N'
		   and line_refer= 'N'
	</select>-->
	
</mapper>