<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="treatmentMapper">
	<!-- 캘린더 조회용 result
	<resultMap id="calendarResult" type="Calendar">
		<result column="calendar_no" property="calendarNo" />
		<result column="calendar_title" property="calendarTitle" />
		<result column="calendar_start" property="calendarStart" />
		<result column="calendar_end" property="calendarEnd" />
		<result column="textcolor" property="textColor" />
		<result column="backgroundcolor" property="backgroundColor" />
	</resultMap>
	-->
	
	<!-- 수술실 result -->
	<resultMap id="OPResult" type="RevOProom">
		<result column="booking_no" property="bookingNo" />
		<result column="clinic_no" property="clinicNo" />
		<result column="surgery_no" property="surgeryNo" />
		<result column="room_name" property="roomName" />
		<result column="surgery_date" property="surDate" />
		<result column="sur_starttime" property="surStartTime" />
		<result column="memo" property="memo" />
		<result column="surgery_status" property="surStatus" />
		<result column="doctor_name" property="doctorName" />
		<result column="sur_endtime" property="surEndTime" />
		<result column="calendar_no" property="calendarNo" />
		<result column="textcolor" property="textColor" />
		<result column="backgroundcolor" property="backgroundColor" />
		
		<result column="patient_name" property="patientName" />
		<result column="lead_time" property="leadTime" />
		<result column="surgery" property="surgery" />
		<result column="surgery_no2" property="surgeryNo2" />
	</resultMap>
	
	<!-- clinic result -->
	<resultMap id="ClinicResult" type="Clinic">
		<result column="clinic_no" property="clinicNo" />
		<result column="chart_no" property="chartNo" />
		<result column="dept_no" property="deptNo" />
		<result column="enroll_time" property="enrollTime" />
		<result column="enroll_date" property="enrollDate" />
		<result column="diagnosis_content" property="diagnosisContent" />
		<result column="surgery" property="surgery" />
		<result column="enter" property="enter" />
		<result column="status" property="status" />
		<result column="surgery_no2" property="surgeryNo2" />
		<result column="diseases_code" property="diseaseCode" />
		<result column="emp_no" property="empNo" />
		<result column="fee" property="fee" />
		
		<result column="patient_name" property="patientName" />
		<result column="doctor_name" property="docName" />
		<result column="lead_time" property="leadTime" />
		<result column="room_name" property="roomName" />
		<result column="surgery_date" property="surgeryDate" />
		<result column="sur_endtime" property="surEndTime" />
		<result column="sur_starttime" property="surStartTime" />
		<result column="surgery_date" property="surDate" />
		<result column="memo" property="memo" />
		<result column="booking_no" property="bookingNo" />
	</resultMap>



	<!-- patient result -->
	<resultMap id="PatientResult" type="Patient">
		<result column="chart_no" property="chartNo" />
		<result column="last_dep" property="lastDep" />
		<result column="patient_name" property="patientName" />
		<result column="만나이" property="age" />
		<result column="id_no" property="idNo" />
		<result column="address" property="address" />
		<result column="memo" property="memo" />
		<result column="first_visit" property="firstVisit" />
		<result column="last_visit" property="lastVisit" />
		<result column="phone" property="phone" />
		<result column="protector" property="protector" />
		<result column="new" property="newOne" />
		<result column="성별" property="gender" />
		<result column="doctor_name" property="docName"/>
		<result column="clinic_no" property="clinicNo"/>
	</resultMap>
	
	<!-- surgery result -->
	<resultMap id="SurgeryResult" type="Surgery">
		<result column="surgery_no" property="surgeryNo" />
		<result column="surgery_name" property="surgeryName" />
		<result column="period" property="period" />
		<result column="s_payment" property="sPayment" />
		<result column="lead_time" property="leadTime" />
	</resultMap>
	
	<!-- listSurgeryBook result -->
	<resultMap id="SurBookResult" type="ListSurgeryBooking">
		<collection resultMap="SurgeryResult" property="Surgery"/>
		<collection resultMap="PatientResult" property="Patient"/>
		<collection resultMap="ClinicResult" property="Clinic"/>
		<collection resultMap="OPResult" property="RevOProom"/>
	</resultMap>
	

	

	
	<!-- 캘린더 조회 mapper 예시
	<select id="calendarList" resultMap="calendarResult">
		select
			   calendar_no
			 , calendar_title
			 , calendar_start
			 , calendar_end
			 , textcolor
			 , backgroundcolor
		  from sur_calendar

	</select>
	-->
	
	<!-- 수술실 캘린더 조회 select -->
	<select id="calendarList" resultMap="OPResult">
		select
			   calendar_no
			 , booking_no
			 , clinic_no
			 , surgery_date
			 , surgery_date
			 , textcolor
			 , backgroundcolor
		  from surgery_booking
		 where surgery_status = 'R'

	</select>

	<!-- 수술실 정보 조회 select-->
	<select id="selectOProom" resultMap="OPResult">
		select 
      		   c.clinic_no
      		 , sb.booking_no
     		 , (select p.patient_name
          		  from patient p
          		  join clinic cll on (cll.chart_no = p.chart_no)
                  where clinic_no=#{clinicNo}) as patient_name
     		 , sb.room_name
     		 , sb.surgery_date
     		 , sb.sur_starttime
     		 , sb.sur_endtime
     		 , (select m.emp_name
          		 from member m
          		 join clinic clll on (clll.emp_no = m.emp_no)
                 where clinic_no=#{clinicNo}) as doctor_name
          	 , sb.memo
		  from surgery_booking sb
          join clinic c on ( sb.clinic_no = c.clinic_no)
		 where sb.booking_no = #{bookingNo}
	</select>
	
	<!-- 수술실 예약을 위한 정보 조회 select-->
	<select id="forinsertOProom" resultMap="ClinicResult">
		select 
      		   c.clinic_no
     		 , (select p.patient_name
          		  from patient p
          		  join clinic cl on (cl.chart_no = p.chart_no)
                  where clinic_no=${clinicNo}) as patient_name
     		 , (select m.emp_name
          		  from member m
          		  join clinic clll on (clll.emp_no = m.emp_no)
                  where clinic_no=${clinicNo}) as doctor_name
          	 , surgery_no2
             , lead_time
		  from clinic c
          join surgery on (surgery_no2 = surgery_no)
		 where c.clinic_no=${clinicNo}
           and surgery = 'Y'
	</select>
	
	<!-- 수술실 중복 체크 -->
	<select id="checkOverlapRsv" resultType="_int">
		select count(*)
		  from
		     ( select booking_no
		         from surgery_booking
		        where sur_endtime &gt; #{surStartTime}
			      and sur_starttime &lt; #{surEndTime}
			      and room_name=#{roomName}
		     )
	</select>
	
	<!-- 수술실 예약 insert -->
	<insert id="insertReservation">
		insert
		into surgery_booking
		(
			booking_no
			, clinic_no
			, surgery_no
			, calendar_no
			, room_name
			, surgery_date
			, sur_starttime
			, memo
			, surgery_status
			, doctor_name
			, sur_endtime
			, textcolor
			, backgroundcolor
			)
			values
			(
			seq_sbno.nextval
			, #{clinicNo}
			, 'G-10080'
			, seq_rca.nextval
			, #{roomName}
			, #{surDate}
			, #{surStartTime}
			, #{memo}
			, default
			, #{doctorName}
			, #{surEndTime}
			, 'white'
			, 'navy'
		)
	</insert>
	

	<!-- 수술실 예약 취소 -->
	<update id="rsvCancel">
		update surgery_booking
		   set surgery_status = 'C'
		 where booking_no = #{bookingNo}
	
	</update>
	
	<!-- 진료할 환자 조회 -->
	<select id="selectNowPatient" resultMap="PatientResult">
		select 
		       chart_no
		     , last_dep
		     , patient_name
		     , trunc((to_number(to_char(sysdate, 'YYYYMMDD'))-to_number(to_char(decode(substr(id_no, 8, 1), '1', '19', '2', '19', '20')||substr(id_no, 1, 6))))/10000) as "만나이"
		     , id_no
		     , memo
		     , first_visit
		     , last_visit
		     , "new"
		     , 성별
		  from (
		          select
		               chart_no
		             , last_dep
		             , patient_name
		             , id_no
		             , address
		             , memo
		             , first_visit
		             , last_visit
		             , phone
		             , protector
		             , decode(new, 'Y', '초진', 'N', '재진', '??') as "new"
		             , enroll_time
		             , case 
		                  when substr(id_no, 8, 1) in ('1', '3') then '남자'
		                  when substr(id_no, 8, 1) in ('2', '4') then '여자'
		                  else '몰라'
		               end "성별"
		           from patient
		           join clinic using (chart_no)  
		          where status = 'W'
		          order 
		             by enroll_time
		        )
		 where rownum = 1
	</select>
</mapper>
